@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.VisitorTbl.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new ConsoleProject.Default.VisitorTblGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>